on:
  workflow_call:
    inputs:
      namespace:
        required: true
        type: string
      object-name:
        required: true
        type: string
      file:
        required: true
        type: string

jobs:
  upload-config:
    permissions:
      id-token: write

    name: Upload config to catalog
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Upload config file
        run: |
          NAMESPACE="${{ inputs.namespace }}"
          OBJECT="${{ inputs.object-name }}"
          curl -X PUT "https://object-registry.inf-k8s.net/v1/$NAMESPACE/$OBJECT" \
            -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
            -H "X-Object-Registry-Source: github-actions" \
            --fail-with-body \
            --data-binary "@${{ inputs.config-file }}" -v
