name: "upload-object"
on:
  workflow_call:
    secrets:
      KEY_ID:
        required: true
      PRIVATE_KEY:
        required: true
    inputs:
      namespace:
        description: "The namespace"
        required: true
        type: string
      object-name:
        description: "The object name"
        required: true
        type: string
      object-path:
        description: "The path to the object file"
        required: false
        type: string
      object-content:
        description: "The content of the object as a string"
        required: false
        type: string
      api-url:
        description: "The API URL"
        required: false
        default: "https://object-registry.inf-k8s.net/v1"
        type: string
      public:
        description: "Whether the object is public"
        required: false
        default: false
        type: boolean
      labels:
        description: "Labels in key=value format, comma or newline separated"
        required: false
        type: string
      content-type:
        description: "The content type of the object"
        required: false
        type: string
      issuer:
        description: "The JWT issuer"
        required: false
        default: "github-action"
        type: string

jobs:
  upload-object:
    name: upload object to registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: upload object
        uses: ./actions/upload-object
        with:
          key-id: ${{ secrets.KEY_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          namespace: ${{ inputs.namespace }}
          object-name: ${{ inputs.object-name }}
          object-path: ${{ inputs.object-path }}
          object-content: ${{ inputs.object-content }}
          api-url: ${{ inputs.api-url }}
          public: ${{ inputs.public }}
          labels: ${{ inputs.labels }}
          content-type: ${{ inputs.content-type }}
          issuer: ${{ inputs.issuer }}
